{% extends "base_generic.html" %}

{% block content %}
    <h1>Dictionary of Rush Terms</h1>

    <ul>
        <li><strong>Rush:</strong> the time of the year dedicated to running events with the intention of recruiting new members</li>
        <li><strong>Rush Chairs:</strong> the (usually 2) people who are in charge of making rush happen</li>
        <li><strong>Rushees:</strong> people who come over to the house during rush who are candidates for being future ET members</li>
        <li><strong>Bid:</strong> a formal invitation to join the house</li>
        <li><strong>Bidder:</strong> the person assigned to give a bid to a rushee</li>
        <li><strong>Pledge:</strong> someone who has accepted their bid and is now an active</li>
        <li><strong>Filing:</strong> a vote by an ET active on whether we should admit a particular rushee to ET.
        These indicate that you have interact with a particular rushee enough to have opinions
        on them. They are subdivided into:
        <ul>
            <li><strong>Bid:</strong> I think this person should be given a bid</li>
            <li><strong>No Objection:</strong> I don't have an objection to this person being given a bid</li>
            <li><strong>Weak:</strong> I have an objection to this person being given a bid. This person will not be given a bid
            without resolving your objection</li>
            <li><strong>Flush:</strong> this person should not be allowed to be at our rush events. This indicates a serious
            concern needing immediate resolution that doesn't come up very frequently</li>
        </ul>
    </li>
    </ul>
{% endblock %}
