<td><a href="{{ rushee.get_absolute_url }}">{{ rushee.name }}</a></td>
<td>{% if filing == 'No Filing' %}{% else %}{{ filing }}{% endif %}</td>
{% if user.is_staff %}
    <td
        {% if rushee.flush %}
            class="bg-danger"
        {% elif rushee.weak %}
            class="bg-warning"
        {% elif rushee.autobid %}
            class="bg-success"
        {% endif %}
    >{{ rushee.short_filings_desc }}</td>
{% endif %}
{% for checked, value in radio %}
    <td style="text-align: center"><input
            type="radio"
            autocomplete="off"
            name="{{ rushee.id }}"
            {% if checked %}checked="checked"{% endif %}
            hx-post="{{ request.path }}"
            hx-target="#txt{{ rushee.id }}"
            hx-trigger="click"
            hx-vals='{
                                "id": {{ rushee.id }},
                                "value": "{{ value }}"
                            }'
    ></td>
{% endfor %}
