{% extends "base_generic.html" %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.32.0/js/jquery.tablesorter.min.js"
            integrity="sha512-O/JP2r8BG27p5NOtVhwqsSokAwEP5RwYgvEzU9G6AfNjLYqyt2QT8jqU1XrXCiezS50Qp1i3ZtCQWkHZIRulGA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.32.0/css/theme.bootstrap_4.min.css"
          integrity="sha512-2C6AmJKgt4B+bQc08/TwUeFKkq8CsBNlTaNcNgUmsDJSU1Fg+R6azDbho+ZzuxEkJnCjLZQMozSq3y97ZmgwjA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}
    <table id="table" class="tablesorter-bootstrap table-sm table-bordered table-striped">

        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>My Filing</th>
            {% if user.is_staff %}
                <th>Filing Status</th>
            {% endif %}
            {% for i in filingOptions %}
                <th style="text-align: center; white-space: nowrap;" class="sorter-false">{{ i }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for rushee, filing, radio in rushees %}
            <tr id="txt{{ rushee.id }}">
                {% include 'rush/file_list_row.html' %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


{% block foot %}
    <style>
        th {
            position: sticky;
            top: -11px;
        }

        td a {
            display: block;
        }

        td:has(> label) {
            padding: 0 !important;
        }

        label {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.5em;
            margin: 0;
        }

        td input[type="radio"] {
            height: 20px;
            width: 20px;
        }

        th.sorter-false {
            width: 100px;
        }

    </style>

    <script type="text/javascript">
        filingTypes = [
            {% for i in filingOptions %}
                "{{ i }}",
            {% endfor %}
        ].reverse();

        $.tablesorter.addParser({
            id: 'filings',
            is: function (s) {
                return false;
            },
            format: function (s) {
                // Add 1 so that a non-match returns 0 instead of -1, which sorts between 0 and 1
                return filingTypes.indexOf(s) + 1;
            }
        })

        $(function () {
            $("#table").tablesorter({
                sortList: [[1, 0], [0, 0]],
                emptyTo: 'emptyMin',
                headers: {
                    1: {
                        sorter: 'filings',
                        sortInitialOrder: 'asc'
                    }
                }
            });
        });

    </script>
{% endblock %}

