<td id="td{{ rushee.id }}" style="background:#{{ rushee.status.hex }};">
    <form>
        {% csrf_token %}
        <select name="{{ rushee.id }}" autocomplete="off"
                hx-post="{{ request.path }}"
                hx-target="#td{{ rushee.id }}"
                hx-swap="outerHTML"
                hx-vals='"status": "status"'
        >
            <option>None</option>
            {% for status in statuses %}
                <option {% if status == rushee.status %}selected="selected"{% endif %}>{{ status }}</option>
            {% endfor %}
        </select>
    </form>
</td>