<td id="td{{ rushee.id }}"
        {% if rushee.status == 'a' %}
    class="bg-warning"
        {% elif rushee.status == 'b' %}
    class="bg-success"
        {% elif rushee.status == 'p' %}
    class="bg-info"
        {% endif %}>
    <form>
        {% csrf_token %}
        <select name="{{ rushee.id }}" autocomplete="off"
                hx-post="{{ request.path }}"
                hx-target="#td{{ rushee.id }}"
                hx-swap="outerHTML"
                hx-vals='"status": "status"'
        >
            {% for status in statuses %}
                <option {% if status == rushee.get_status_display %}selected="selected"{% endif %}>{{ status }}</option>
            {% endfor %}
        </select>
    </form>
</td>