{% extends "base_generic.html" %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.32.0/js/jquery.tablesorter.min.js"
            integrity="sha512-O/JP2r8BG27p5NOtVhwqsSokAwEP5RwYgvEzU9G6AfNjLYqyt2QT8jqU1XrXCiezS50Qp1i3ZtCQWkHZIRulGA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.32.0/css/theme.bootstrap_4.min.css"
          integrity="sha512-2C6AmJKgt4B+bQc08/TwUeFKkq8CsBNlTaNcNgUmsDJSU1Fg+R6azDbho+ZzuxEkJnCjLZQMozSq3y97ZmgwjA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block content %}
    <table id="table" class="tablesorter-bootstrap table table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Bid Status</th>
            <th>Bidder</th>
            <th>Dorm</th>
            <th>Email</th>
            <th>Discord</th>
            <th>Phone</th>
            <th>Last Contact</th>
            {% if user.is_staff %}
            <th>Filing Status</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for i in rushees %}
            <tr>
                <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
                <td
                    {% if i.status == 'a' %}
                        class="bg-warning"
                    {% elif i.status == 'b' %}
                        class="bg-success"
                    {% elif i.status == 'p' %}
                        class="bg-info"
                    {% endif %}
                >{% if i.get_status_display == 'None' %}{% else %}{{ i.get_status_display }}{% endif %}</td>
                <td>{{ i.bidder|default_if_none:'' }}</td>
                <td>{{ i.dorm|default_if_none:'' }}</td>
                <td>{{ i.email|default_if_none:'' }}</td>
                <td>{{ i.discord|default_if_none:'' }}</td>
                <td>{{ i.phone|default_if_none:'' }}</td>
                <td>{{ i.last_contact|default_if_none:'' }}</td>
                {% if user.is_staff %}
                <td
                    {% if i.flush %}
                        class="bg-danger"
                    {% elif i.weak %}
                        class="bg-warning"
                    {% elif i.autobid %}
                        class="bg-success"
                    {% endif %}
                >{{ i.short_filings_desc }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.rushees.errors }}
        {{ form.rushees.label_tag }}
        <br/>
        {{ form.rushees }}
        <br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{% block foot %}
    <style>
    th {
        position: sticky;
        top: 0;
    }
    td a {
        display: block;
    }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#table").tablesorter({
                sortList: [[1,0], [0,0]],
                emptyTo: 'emptyMin',
            });
        });
    </script>
{% endblock %}
