{% extends "base_generic.html" %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/themes/base/jquery-ui.min.css"
          integrity="sha512-8PjjnSP8Bw/WNPxF6wkklW6qlQJdWJc/3w/ZQPvZ/1bjVDkrrSqLe9mfPYrMxtnzsXFPc434+u4FHLnLjXTSsg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js"
            integrity="sha512-Ww1y9OuQ2kehgVWSD/3nhgfrb424O3802QYP/A5gPXoM4+rRjiKrjHdGxQKrMGQykmsJ/86oGdHszfcVgUr4hA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(function () {
            $("#id_last_contact").datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{{ rushee }}</h1>

    {% if user.is_staff %}
        <p><strong>{{ rushee.long_filings_desc }}</strong></p>
        {% if rushee.flush %}
            <p class="text-danger">{{ rushee }} has a flush filing</p>
        {% elif rushee.weak %}
            <p class="text-warning">{{ rushee }} has a weak filing</p>
        {% else %}
            <p{% if rushee.autobid %} class="text-success"{% endif %}>
            {{ rushee }} has {% if rushee.autobid %}{% else %}not {% endif %}met autobid conditions.
        {% endif %}
    </p>
    {% else %}
        <p><strong>Status:</strong> {{ rushee.get_status_display }}</p>
        {% if rushee.status == 'a' %}
            <p><strong>Bidder:</strong> {{ rushee.bidder|upper }}</p>
        {% endif %}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ modify_form.as_table }}
        </table>
        <input type="submit" value="Update" name="update">
    </form>
    <br/>
    {% if user.is_staff %}
        <strong>Filings:</strong>
        <ul>
            {% for filing in rushee.filing_set.all %}
                <li> {{ filing.active }}: {{ filing.get_type_display }}</li>
            {% empty %}
                <li> no filings</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p>My filing: {{ active_file }}</p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ file_form.as_table }}
        </table>
        <input type="submit" value="Submit" name="file">
    </form>

    {% if user.is_staff %}
        <br/>
        <p><strong>Delete</strong></p>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td style="padding-right: 10px">Delete All Filings:</td>
                    <td>{{ delete_form.filings }}</td>
                </tr>
                <tr>
                    <td>Delete Rushee:</td>
                    <td>{{ delete_form.rushees }}</td>
                </tr>
            </table>
            <input type="submit" value="Delete" name="delete">
        </form>
    {% endif %}

{% endblock %}