<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}<title>ET Rush Sign-In</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<div>
    <h1>Welcome to ET!</h1>
</div>
<form action="" method="post">
    {% csrf_token %}
    <table id='signinform'>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Sign in">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
