{% extends "base_generic.html" %}

{% block content %}
    <h1>Sign-in List</h1>

    {% if signins %}
        <table class="table-fancy">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Timestamp</th>
            <th>Heard from</th>
        </tr>
            {% for i in signins %}
                <tr>
                    <td>
                        {{ i.name }}
                    </td>
                    <td>
                        {{ i.email }}
                    </td>
                    <td>
                        {{ i.timestamp }}
                    </td>
                    <td>
                        {{ i.heard }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>There are no sign-ins in the system.</p>
    {% endif %}
{% endblock %}
